@import "colors.scss";

html, body {
    background-color: #fafafa;
    height: 100%;
}

body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}


//Login checkbox
.pretty input:checked ~ .state.p-primary label::after, .pretty.p-toggle .state.p-primary label::after {
    background-color: $primary !important;
}

//Alert
.alert-error-msg {
    color: black;
}

//Button
.td-button {
    border-color: $primary;
    background-color: #FFFFFF;
    color: $primary;
    font-weight: bold;

    &:hover {
        background-color: $primary;
        color: #FFFFFF;
    }
}

.td-danger {
    @extend .td-button;
    border-color: #df3939;
    background-color: #FFFFFF;
    color: #df3939;
    font-weight: bold;
    
    &:hover {
        background-color: #df3939;
        color: #FFFFFF;
    }
}

//Input
.td-field-label {
    @media screen and (max-width: 768px) {
        text-align: left;
    }
}
.td-field-body {
    @media screen and (min-width: 769px) {
        flex-grow: 3;
    }
}

//Icon
.td-icon {
    font-size: 1.3rem;

    path {
        color: #FFFFFF;
    }
}

.td-icon-primary {
    @extend .td-icon;
    
    path {
        color: $primary;
    }
}

.td-icon-task-date {
    font-size: 1rem;
    
    path {
        color: rgba(0,0,0,.54);
    }
}

.td-icon-task-complete {
    @extend .td-icon;

    path {
        stroke: $primary;
        stroke-width: 2.5rem;
    }
}

//Datepicker
.mat-form-field {
    display: block !important;
}

.mat-calendar-body-selected {
    background-color: $primary !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent !important;
    transition: none !important;
}