* {
    color: #7a7a7a;
}

//Style
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-left {
    text-align: left;
}

//Position element
.text-right {
    text-align: right;
}

.justify-center {
    justify-content: center;
}