<nav class="navbar td-navbar" role="navigation" aria-label="main navigation">
  <div class="container td-navbar-container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/test">
        <span class="td-title">Todolist</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="td-navbar-link">Profile</a>
        </div>
        <div class="navbar-item">
          <a class="button td-navbar-button">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>