@import "../../styles/colors.scss";

.td-navbar {
    background-color: #FFFFFF;

    .td-navbar-container {

        .navbar-brand {
            align-items: center;

            @media screen and (min-width: 1088px) {
                align-items: stretch;
            }

            .td-title {
                font-size: 2rem;
                font-weight: bold;
            }

            span {
                color: $primary;
            }
        }
    }

    .navbar-menu {
        .navbar-item {
            text-align: center;
        }

        .td-navbar-link {
            color: $primary;
            font-weight: bold;
        }

        .td-navbar-button {
            border-color: $primary;
            background-color: #FFFFFF;
            color: $primary;
            font-weight: bold;

            &:hover {
                background-color: $primary;
                color: #FFFFFF;
            }
        }
    }
}