@import "../../styles/colors.scss";

.td-profile-tabs {

    a {
        &:hover {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    .is-active {
        a {
            color: $primary;
            font-weight: bold;
            border-bottom-color: $primary;
        }
    }
}

.td-profile-card-header {
    box-shadow: none;
    .td-card-title {
        border-bottom: 2px solid #FAFAFA;
        font-size: 1.3rem;
        color: $primary;
    }
}

.td-card-content {
    input {
        &:focus, &:hover {
            border-color: $primary;
            box-shadow: none;
        }
    }
    .label {
        color: $primary;
    }
}