<td-navbar></td-navbar>
<div class="container">
  <div class="tabs is-centered td-profile-tabs">
    <ul>
      <li [ngClass]="{'is-active': tab == 'profile'}">
        <a (click)="toggleTab('profile')">Profile</a>
      </li>
      <li [ngClass]="{'is-active': tab == 'security'}">
        <a (click)="toggleTab('security')">Security</a>
      </li>
    </ul>
  </div>
  <div class="columns no-margin justify-center">
    <div class="column is-8" [ngSwitch]="tab">
      <div class="card" *ngSwitchCase="'profile'">
        <header class="card-header td-profile-card-header">
          <p class="card-header-title td-card-title">
            Update your profile
          </p>
        </header>
        <div class="card-content td-card-content">
          <div class="columns justify-center">
            <div class="column is-6">
              <div class="content text-right">
                <form [formGroup]="userForm">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal text-left">
                      <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" placeholder="Name" type="text" formControlName="name" required [ngClass]="{ 'is-danger': submitted && (userForm.controls.name.errors || errors) }">
                          <div *ngIf="submitted && userForm.controls.name.errors" class="invalid-feedback">
                            <div *ngIf="userForm.controls.name.errors.required">Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="field is-horizontal">
                    <div class="field-label is-normal text-left">
                      <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="email" placeholder="Email" formControlName="email" required [ngClass]="{ 'is-danger': submitted && (userForm.controls.email.errors || errors) }">
                          <div *ngIf="submitted && userForm.controls.email.errors" class="invalid-feedback">
                            <div *ngIf="userForm.controls.email.errors.required">Email is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button class="button is-block td-button" [disabled]="loading" (click)="updateUser()">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <header class="card-header td-profile-card-header">
          <p class="card-header-title td-card-title">
            Delete your account
          </p>
        </header>
        <div class="card-content td-card-content">
          <div class="columns justify-center">
            <div class="column is-12 no-padding">
              <div class="content">
                <p>Once you delete your account, there is no going back. Please be certain.</p>
              </div>
              <button class="button is-block td-button td-danger" [disabled]="loading" (click)="confirmDelete()">Delete your account</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card" *ngSwitchCase="'security'">
        
      </div>
    </div>
  </div>
</div>