<td-navbar></td-navbar>
<div class="container">
  <div class="tabs is-centered td-profile-tabs">
    <ul>
      <li [ngClass]="{'is-active': tab == 'profile'}">
        <a (click)="toggleTab('profile')">Profile</a>
      </li>
      <li [ngClass]="{'is-active': tab == 'security'}">
        <a (click)="toggleTab('security')">Security</a>
      </li>
    </ul>
  </div>
  <div class="columns no-margin justify-center">
    <div class="column is-8" [ngSwitch]="tab">
      <div class="card" *ngSwitchCase="'profile'">
        <header class="card-header td-profile-card-header">
          <p class="card-header-title td-card-title">
            Update your profile
          </p>
        </header>
        <div class="card-content td-card-content">
          <div class="columns justify-center">
            <div class="column is-6">
              <div class="content text-right">

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Name</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="Name">
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Email</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="Email">
                      </div>
                      <p class="help is-danger">
                      </p>
                    </div>
                  </div>
                </div>

                <a class="button td-button">Update</a>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" *ngSwitchCase="'security'">
        <p>Bonjour</p>
      </div>
    </div>
  </div>
</div>