@import "../../styles/colors.scss";

.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.td-register {

  .td-title {
    padding: 0;
  }

  .td-box {
    margin-top: 5rem;
    margin-bottom: 0.5rem;

    input {
      &:focus {
        border-color: #30abdc;
        box-shadow: none;
      }
    }

    button {
      background-color: $primary;
    }
  }

  .td-logo {
    img {
      max-width: 50%;
      height: auto;
    }
  }

  .td-register {
    font-weight: 100;
    a {
      color: $primary;
      text-decoration: underline;
      font-weight: 700;
    }
  }

}